@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat";
}

input, button {
  border: none;
  outline: none;

  background: unset;
}