@use '../../../scss/_index.scss' as *;

.card {
  display: flex;
  gap: 2rem;

  height: 300px;

  &__image {
    flex: 0.8;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      transform: scale(1);

      transition: transform 300ms ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      cursor: pointer;
    }
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    line-height: 2;

    &:hover {
      cursor: default;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;

  }

  &__location {
    font-weight: 500;

    color: gray;
  }

  &__rooms {
    font-weight: 500;

    color: black;
  }

  &__description {
    font-weight: 400;

    color: gray;
  }

  &__read-more {
    display: flex;
    align-items: center;
    align-self: flex-end;

    color: $blue-color;
    
    font-size: 18px;
    text-decoration: none;
    
    position: relative;
    
    transition: color 200ms linear;

    &::before {
      content: "";
      width: 100%;
      height: 2px;

      background-color: $orange-color;

      position: absolute;
      bottom: 4px;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;

      transition: transform 300ms ease;
    }

    &:hover {
      color: $orange-color;

      &::before {
        transform: scaleX(1);
      }
    }

    span {
      margin-left: 5px;
    }
  }
}