@use "../../../scss/_index.scss" as *;

.card {
  display: flex;

  height: 300px;

  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.29);
  border-radius: 20px;

  &__image {
    flex: 0 0 40%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;

    position: relative;

    min-height: 300px;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      position: absolute;
      top: 0;
      left: 0;

      transform: scale(1);

      transition: transform 300ms ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      cursor: pointer;
    }
  }

  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    line-height: 2;

    padding: 1rem;

    &:hover {
      cursor: default;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__location {
    font-weight: 500;

    color: gray;
  }

  &__rooms {
    font-weight: 500;

    color: black;
  }

  &__description {
    font-weight: 400;

    span {
      font-weight: 500;
    }

    p {
      line-height: 1.3;
      color: gray;
    }
  }

  &__read-more {
    display: flex;
    align-items: center;
    align-self: flex-end;

    color: $blue-color;

    font-size: 18px;
    text-decoration: none;

    position: relative;

    transition: color 200ms linear;

    padding-bottom: 3px;

    &::before {
      content: "";
      width: 100%;
      height: 2px;

      background-color: $orange-color;

      position: absolute;
      bottom: 4px;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;

      transition: transform 300ms ease;
    }

    &:hover {
      color: $orange-color;

      &::before {
        transform: scaleX(1);
      }
    }

    span {
      margin-left: 5px;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    height: 100%;
    gap: 0;

    .card__content {
      justify-content: flex-start;
    }

    .card__image {
      overflow: hidden;
      max-height: 350px;

      border-radius: 10px 10px 0 0;
    }
  }

  @media screen and (max-width: $mobile) {
    &__title,
    &__price,
    &__read-more {
      font-size: 14px;
    }

    &__rooms,
    &__description {
      font-size: 12px;
    }
  }
}
