@use "../../../scss/index" as *;

.apartment {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.18);
  border-radius: 20px 20px 0 0;

  &__image {
    flex: 0 0 40%;
    position: relative;
    min-height: 400px;

    border-radius: 10px 10px 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      position: absolute;
      top: 0;
      left: 0;
    }

    transition: min-height 300ms ease;

    &:hover {
      min-height: 500px;
      cursor: pointer;
    }
  }

  &__content {
    flex: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    line-height: 2;

    padding: 1rem;

    position: relative;

    &:hover {
      cursor: default;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__location {
    font-weight: 500;

    color: gray;
  }

  &__rooms {
    font-weight: 500;

    color: black;
  }

  &__description {
    font-weight: 400;

    color: gray;
  }

  &__edit {
    position: absolute;
    top: 15px;
    right: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  &__back {
    align-self: flex-end;

    display: flex;
    align-items: center;

    color: $blue-color;
    font-weight: 500;

    transition: color 300ms ease;

    padding-bottom: 3px;

    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 2px;

      background-color: $orange-color;

      position: absolute;
      bottom: 4px;
      left: 0;

      transform: scaleX(0);
      transform-origin: left;

      transition: transform 300ms ease;
    }

    span {
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $orange-color;

      &::before {
        transform: scaleX(1);
      }
    }
  }

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  @media screen and (max-width: $mobile) {
    &__title, &__price, &__back {
      font-size: 14px;
    }

    &__rooms, &__description {
      font-size: 12px;
    }
  }
}
