@use '../../scss/index' as *;

.header {
  width: 100%;
  background-color: #ffffff;

  padding: 10px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    gap: 1rem;

    img {
      width: 48px;
      height: 48px;
    }

    div {
      position: relative;

      p {
        position: absolute;
        bottom: 0;

        font-size: 24px;
        font-weight: 700;
        padding: 5px 10px;

        color: #ffffff;

        span {
          padding: 5px 10px;

          &:nth-child(1) {
            background-color: $orange-color;
            border-bottom-left-radius: 10px;

            margin-right: 1px;
          }

          &:nth-child(2) {
            background-color: $blue-color;
            border-top-right-radius: 10px;
          }
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    gap: 1rem;
  }

  &__user {
    display: flex;
    align-items: center;

    gap: 5px;

    font-weight: 500;

    &-icon {
      font-size: 24px;
    }

    &:hover {
      cursor: default;
    }
  }

  &__create-announcement {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;

    border: 2px solid black;
    border-radius: 20px;

    padding: 5px 20px;

    transition: background-color 0.3s ease;

    span {
      font-weight: 600;
      font-size: 16px;

      margin-right: 10px;

      color: #000;
    }

    &:hover {
      cursor: pointer;
      background-color: $blue-hover-color;
    }
  }

  &__create-icon {
    color: #000;
    font-weight: 700;
    font-size: 18px;
  }
}
